<div class="container" ng-controller="CustomizeUsersController">
		<fieldset>
			Search Friends: <input type="text" ng-model="filterUser">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>First name</th>
			        <th>Last name</th>
			        <th>Favorite Language</th>
			        <th>Actions</th>
			      </tr>
			    </thead>
			    <tbody>

			      <tr ng-repeat="user in users | filter:filterUser | orderBy:'first_name'">
			        <td>{{user.first_name}}</td>
			        <td >{{user.last_name}}</td>
			        <td>{{user.language}}</td>
			        <td><button ng-click='removeUser(user)'>Delete User</button></td>
			      </tr>
				</tbody>
			</table>
		</fieldset>
	</div>